---
layout: default
---
<style>
</style>
<div class="home">
    {% for post in site.posts %}
    <div class="post">
      <div class="post-header">
        <h1><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
        <p class="meta">{{ post.date | date: "%b.%Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </div>

      <article class="post-content">
      {{ post.content }}
      </article>
    </div>
    {% endfor %}


  {% comment %}<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>{% endcomment %}

</div>
